{% load static %}
<!DOCTYPE html>
<html>
{% include  'header_main.html' %}
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    {% include 'nav_main.html' %}
    <!-- 内容主体区域 -->

    <div class="layui-body" style="top: 0px;">

        <div style="padding: 15px;" >
            <div class="layui-fluid">

                <div class="layui-row layui-col-space30 ">

                    <div class="layui-col-md3">
                        <div class="layui-card-header layui-bg-green">
                            已采集帖子数
                        </div>
                        <div class="layui-card-body layuiadmin-card-list layui-bg-green">
                            <p class="layuiadmin-big-font" style="color: #FFF;">{{ thread_num }}</p>
                            <a href="update_list" class="layui-btn layui-btn-primary layui-btn-fluid">获取最新帖子</a>
                        </div>
                    </div>

                    <div class="layui-col-md3">
                        <div class="layui-card-header layui-bg-blue">
                            虚拟账户消息数
                        </div>
                        <div class="layui-card-body layuiadmin-card-list layui-bg-blue">
                            <p class="layuiadmin-big-font">666</p>
                            <a href="update_list" class="layui-btn layui-btn-primary layui-btn-fluid">更新消息</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="layui-footer" style="font-size: 8px;">
        {% include 'footer_main.html'%}
    </div>
</div>
{% include 'foot_js.html' %}
</body>
</html>