{% load static %}<!DOCTYPE html>
<html>
{% include  'header_main.html' %}
<body>
{{ name }}
<div class="layui-container">
    <form class="layui-form" style="text-align:center;padding-top: 200px">
        {% csrf_token %}
        <div class="layui-row">
            <div class="layui-row layui-col-space30">
                <div class="layui-logo">
                    <i class="layui-icon layui-icon-face-smile" style="font-size: 30px; color: #ff1200;"></i>
                    <i class="layui-icon layui-icon-face-smile" style="font-size: 30px; color: #ff1200;"></i>
                    <i class="layui-icon layui-icon-face-smile" style="font-size: 30px; color: #ff1200;"></i>
                </div>
            </div>
            <div class="layui-row layui-col-space30">
                <div class="layui-input-inline">
                    <input type="text" name="name"  placeholder="账户" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-row layui-col-space30">
                <div class="layui-input-inline">
                    <input type="password" name="password" placeholder="密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-row layui-col-space30">
                <div class="layui-input-inline">
                    <button type="submit" class="layui-btn" formmethod="post">登录</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>
<script src={% static "layui.js" %}></script>
<script src={% static "/lay/modules/jquery.js" %}></script>
<script>
    var $ = layui.jquery;
    $(function (){

    })
</script>
</body>
</html>