{% load static %}
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item"  nav_id="index">
                <a href="index.html" lay-direction="2"> <i class="layui-icon layui-icon-home"></i> <cite>看板</cite> </a>
            </li>
            <li class="layui-nav-item layui-nav-itemed " >
                <a class="" href="javascript:;">信息汇总</a>
                <dl class="layui-nav-child" >
                    <dd nav_id="pages"><a href="pages" >待处理</a></dd>
                    <dd nav_id="no_use_threads"><a href="javascript:;">无价值信息</a></dd>
                    <dd nav_id="all_threads"><a href="javascript:;">全部信息</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">用户消息查看</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">新消息</a></dd>
                    <dd><a href="javascript:;">已查看-有效信息</a></dd>
                    <dd><a href="javascript:;">测试数据</a></dd>
                    <dd><a  href="vuser">账号列表</a></dd>
                    <dd nav_id='message_all'><a  href="message">全部</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item layui-nav-item">
                <a class="" href="javascript:;">登陆选项</a>
                <dl class="layui-nav-child">
                    <dd><a href="logout">退出</a></dd>
                    <dd><a href="javascript:;">修改密码</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>